$font-default: 'Open Sans', sans-serif;

$color-white: #fff;
$color-black: #000;

$color-hit-dark: #044cb3;
$color-hit: #0769de;
$color-hit-light: #3192e7;

$color-blue-darker: #405e80;
$color-blue-dark: #8fa6bf;
$color-blue: #cce4ff;
$color-blue-light: #d9ebff;
$color-blue-lighter: #e5f1ff;

$color-critical-dark: #bc2e1e;
$color-critical: #e83f26;
$color-critical-light: #ee6a50;

$color-attention-dark: #c69a0b;
$color-attention: #f1c40f;
$color-attention-light: #f5d43b;

$color-success-dark: #527c2b;
$color-success: #71a63b;
$color-success-light: #98be65;

$color-gray-0: #fafafa;
$color-gray-1: #f6f6f6;
$color-gray-2: #eee;
$color-gray-3: #ddd;
$color-gray-4: #ccc;
$color-gray-5: #999;
$color-gray-6: #666;
$color-gray-7: #4d4d4d;
$color-gray-8: #333;
$color-gray-9: #181818;

$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$spacer-x-0: $spacer-x * 0.5;  // 0.5rem
$spacer-y-0: $spacer-y * 0.5;  // 0.5rem
$spacer-x-1: $spacer-x;  // 1rem
$spacer-y-1: $spacer-y;  // 1rem
$spacer-x-2: $spacer-x * 1.5;  // 1.5rem
$spacer-y-2: $spacer-y * 1.5;  // 1.5rem
$spacer-x-3: $spacer-x * 2.5;  // 2.5rem
$spacer-y-3: $spacer-y * 2.5;  // 2.5rem
$spacer-x-4: $spacer-x * 4;  // 4rem
$spacer-y-4: $spacer-y * 4;  // 4rem
$spacer-x-5: $spacer-x * 6.5;  // 6.5rem
$spacer-y-5: $spacer-y * 6.5;  // 6.5rem

$border-width: 2px !default;
$border-radius: 4px !default;

$font-size-10: 0.625rem;
$font-size-12: 0.75rem;
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-26: 1.625rem;
$font-size-34: 2.125rem;
$font-size-42: 2.625rem;
$font-size-56: 3.5rem;
$font-size-68: 4.25rem;

$letter-spacing-10: 0.015625rem;
$letter-spacing-12: 0rem;
$letter-spacing-14: -0.015625rem;
$letter-spacing-16: -0.03125rem;
$letter-spacing-18: 0.037rem;
$letter-spacing-20: -0.046875rem;
$letter-spacing-26: -0.0625rem;
$letter-spacing-34: -0.09375rem;
$letter-spacing-42: -0.125rem;
$letter-spacing-56: -0.1875rem;
$letter-spacing-68: -0.25rem;

/*
  line height definitions above should to be
  used in a long text context
 */
$line-height-long-text-10: 0;  // no defined
$line-height-long-text-12: 0;  // no defined
$line-height-long-text-14: 1.25rem;
$line-height-long-text-16: 1.5rem;
$line-height-long-text-18: 1.750rem;
$line-height-long-text-20: 1.75rem;
$line-height-long-text-26: 2rem;
$line-height-long-text-34: 3rem;
$line-height-long-text-42: 3.5rem;
$line-height-long-text-56: 4rem;
$line-height-long-text-68: 5rem;

/*
  line height definitions above should to be
  used in a long text context
 */
$line-height-10: 0.75rem;
$line-height-12: 1rem;
$line-height-14: 1rem;
$line-height-16: 1.25rem;
$line-height-18: 1.500rem;
$line-height-20: 1.5rem;
$line-height-26: 1.75rem;
$line-height-34: 2.5rem;
$line-height-42: 3rem;
$line-height-56: 3.75rem;
$line-height-68: 4.5rem;

$font-sizes: (
  68: (
    font-size: $font-size-68,
    letter-spacing: $letter-spacing-68,
    line-height-long-text: $line-height-long-text-68,
    line-height: $line-height-68,
  ),
  56: (
    font-size: $font-size-56,
    letter-spacing: $letter-spacing-56,
    line-height-long-text: $line-height-long-text-56,
    line-height: $line-height-56,
  ),
  42: (
    font-size: $font-size-42,
    letter-spacing: $letter-spacing-42,
    line-height-long-text: $line-height-long-text-42,
    line-height: $line-height-42,
  ),
  34: (
    font-size: $font-size-34,
    letter-spacing: $letter-spacing-34,
    line-height-long-text: $line-height-long-text-34,
    line-height: $line-height-34,
  ),
  26: (
    font-size: $font-size-26,
    letter-spacing: $letter-spacing-26,
    line-height-long-text: $line-height-long-text-26,
    line-height: $line-height-26,
  ),
  20: (
    font-size: $font-size-20,
    letter-spacing: $letter-spacing-20,
    line-height-long-text: $line-height-long-text-20,
    line-height: $line-height-20,
  ),
  18: (
    font-size: $font-size-18,
    letter-spacing: $letter-spacing-18,
    line-height-long-text: $line-height-long-text-18,
    line-height: $line-height-18,
  ),
  16: (
    font-size: $font-size-16,
    letter-spacing: $letter-spacing-16,
    line-height-long-text: $line-height-long-text-16,
    line-height: $line-height-16,
  ),
  14: (
    font-size: $font-size-14,
    letter-spacing: $letter-spacing-14,
    line-height-long-text: $line-height-long-text-14,
    line-height: $line-height-14,
  ),
  12: (
    font-size: $font-size-12,
    letter-spacing: $letter-spacing-12,
    line-height-long-text: $line-height-long-text-12,
    line-height: $line-height-12,
  ),
  10: (
    font-size: $font-size-10,
    letter-spacing: $letter-spacing-10,
    line-height-long-text: $line-height-long-text-10,
    line-height: $line-height-10,
  ),
)
